@model UsuarioModel

<a action="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Logado: @Model.Nome</a>
<ul class="navbar-nav flex-grow-1">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Início</a></li>
            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Sobre</a></li>
            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contato</a></li>
            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuários</a></li>
            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a></li>
            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Sair">Sair</a></li>
        </ul>
    </div>
</ul>