@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Projeto IFSP - Prof. Marques Souza.</p>
    <span>E-mail logado: @Model.Email</span>
</div>*@



<div id="main-container">
    <h1 class="dispaly-4">Bem Vindo ao Sistema de Liguagem II</h1> 
</div>



