@{
    ViewData["Title"] = "Sobre";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Este é um projeto avaliativo para o curso de Liguagem II do professor Marques.</p>
    <p>O sistema foi gerado em Asp.net seguindo a arquitetura do MVC(a camada de interação do usuário (view), a camada de manipulação dos dados (model) e a camada de controle (controller). Foi utilizado também o recurso Migration, Migrations são uma forma de gerenciar as mudanças na estrutura do banco de dados de uma aplicação. Eles permitem que você crie, altere ou exclua tabelas, colunas, índices e outros elementos do banco de dados de forma consistente e controlada.</p>
</div>

